In [ ]:
# Import Built-Ins
import datetime
from copy import deepcopy
# Import Third-Party
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm

# Import Homebrew
from utilities.functions import timeit, preprocess_order_file, create_limit_order_book
from utilities.limit_order_book_og import LimitOrderBookOg, OrderOg
from utilities.limit_order_book import LimitOrderBook, Order


pd.set_option('display.max_columns', None)
sns.set()
timestamp = datetime.datetime(year=2017, month=1, day=2, hour=11, minute=30)

# Data formating

In [ ]:
path = '/Users/australien/Documents/IESEG/Master 2/Thesis/BEDOFIH 2017/Data/01/20170102/AA0000000000-AN8068571086/AN8068571086/VHOX_AN8068571086_20170102.csv'

In [ ]:
data_test = preprocess_order_file(path=path, save=False)
data_test.head()

In [ ]:
data_test.to_csv("/Users/australien/Downloads/VHOX_orders_test_processed.csv")

# Data discovery

In [ ]:
data = data_test.copy()
data.info()

In [ ]:
data[data.o_id_fd == 17568959537]

In [ ]:
data[data['o_state']=='4'].head()

In [ ]:
data[data['o_type']=='1'].head()

# Limit order book (All data)
## Creation

In [ ]:
"""
timestamp_test = data.loc[74851, 'time_validity']
timestamp_issue = data[(data['o_id_fd'] == 5491124529) & (data['o_id_cha'] == 6)].iloc[0,:].time_submission
timestamp_issue
lob = create_limit_order_book(data, timestamp_issue)
"""

lob = create_limit_order_book(orders=data[:131], limit_timestamp=timestamp)

In [ ]:
lob.levels(50)['bids']

In [ ]:
lob.levels(5)['asks']

In [ ]:
lob._orders

In [ ]:

#lob = create_limit_order_book(data_issue, timestamp)
lob = create_limit_order_book(data, timestamp)
lob._price_levels

## Exploration of capabilities

In [ ]:
print(lob.best_ask.orders.head)

In [ ]:
lob._orders[5491124525]

In [ ]:
row = data.iloc[74852, :]
if row.o_type == '2':
    time_validity = row.time_validity
    id = row.o_id_fd
    char_id = row.o_id_cha
    is_bid = True if row.o_bs == 'B' else False
    ini_size = row.o_q_ini
    neg_size = row.o_q_neg
    rem_size = row.o_q_rem
    price = row.o_price
    state = row.o_state
    o_type = row.o_type
    account = row.o_account
    hft_flag = row.o_member
    time_submission = row.time_submission
    order = Order(uid=id, char_id=char_id, is_bid=is_bid, ini_size=ini_size, neg_size=neg_size, 
                    rem_size=rem_size, price=price, state=state, type=o_type, account=account, 
                    hft_flag=hft_flag, sub_timestamp=time_submission, val_timestamp=time_validity)
order

In [ ]:
lob.process(order)

In [ ]:
lob._price_levels

In [ ]:
lob.top_level

In [ ]:
print(lob.best_ask)
print(lob.best_bid)

In [ ]:
lob_copy = deepcopy(lob)

# Test of order update (One order)

In [ ]:
# Find id or order with 337 updates
id = data[data['o_id_cha'] == 337]['o_id_fd'].iloc[0]
data_test = data[data['o_id_fd'] == id].sort_values(by='o_id_cha')
#data_test.to_excel('/Users/australien/Downloads/one_order_updated_2.xlsx')
data_test.tail()

In [ ]:

lob_test = create_limit_order_book(data_test, timestamp)
lob_test._orders

In [ ]:
lob.levels(2)

In [20]:
import pandas as pd


path = '/Volumes/Extreme ssd/trades/CH0012214059/VHD_CH0012214059_20170102.csv'

data = pd.read_csv(path)
data['t_dtm_neg'] = pd.to_datetime(data['t_dtm_neg'])
date = data.iloc[0].t_dtm_neg.time()
date

datetime.time(9, 0, 13, 10191)

In [22]:
import datetime
CLOSING_AUCTION_CUTOFF = datetime.time(hour=18, minute=35, second=0)

df = data[data.t_dtm_neg.dt.time > CLOSING_AUCTION_CUTOFF]
df.empty

True

In [17]:
dtypes = {
        'o_seq': 'int32',
        'o_isin': 'string',
        'o_d_i': 'string',
        'o_t_i': 'string',
        'o_cha_id': 'int16',
        'o_id_fd': 'int64',
        'o_d_be': 'string',
        'o_t_be': 'string',
        'o_m_be': 'int32',
        'o_d_br': 'string',
        'o_t_br': 'string',
        'o_m_br': 'int32',
        'o_d_va': 'string',
        'o_t_va': 'string',
        'o_m_va': 'int32',
        'o_d_mo': 'string',
        'o_t_mo': 'string',
        'o_m_mo': 'float64',
        'o_d_en': 'string',
        'o_t_en': 'string',
        'o_sq_nb': 'int32',
        'o_sq_nbm': 'int32',
        'o_d_p': 'string',
        'o_t_p': 'string',
        'o_m_p': 'float64',
        'o_state': 'category',
        'o_currency': 'category',
        'o_bs': 'category',
        'o_type': 'category',
        'o_execution': 'category',
        'o_validity': 'category',
        'o_d_expiration': 'string',
        'o_t_expiration': 'string',
        'o_price': 'float64',
        'o_price_stop': 'float64',
        'o_price_dfpg': 'int8',
        'o_disoff': 'int8',
        'o_q_ini': 'int32',
        'o_q_min': 'int32',
        'o_q_dis': 'int32',
        'o_q_neg': 'int32',
        'o_app': 'category',
        'o_origin': 'category',
        'o_account': 'category',
        'o_nb_tr': 'int16',
        'o_q_rem': 'int32',
        'o_d_upd': 'string',
        'o_t_upd': 'string',
        'o_member': 'string',
    }

In [3]:
import pandas as pd

columns = [
        'o_seq',
        'o_isin',
        'o_d_i',
        'o_t_i',
        'o_cha_id',
        'o_id_fd',
        'o_d_be',
        'o_t_be',
        'o_m_be',
        'o_d_br',
        'o_t_br',
        'o_m_br',
        'o_d_va',
        'o_t_va',
        'o_m_va',
        'o_d_mo',
        'o_t_mo',
        'o_m_mo',
        'o_d_en',
        'o_t_en',
        'o_sq_nb',
        'o_sq_nbm',
        'o_d_p',
        'o_t_p',
        'o_m_p',
        'o_state',
        'o_currency',
        'o_bs',
        'o_type',
        'o_execution',
        'o_validity',
        'o_d_expiration',
        'o_t_expiration',
        'o_price',
        'o_price_sto p',
        'o_price_dfp g',
        'o_disoff',
        'o_q_ini',
        'o_q_min',
        'o_q_dis',
        'o_q_neg',
        'o_app',
        'o_origin',
        'o_account',
        'o_nb_tr',
        'o_q_rem',
        'o_d_upd',
        'o_t_upd',
        'o_member',
    ]

path = '/Volumes/Extreme ssd/raw/01/20170102/DE000HV0JKP4-FR0000572349/FR0000062671/VHOX_FR0000062671_20170102.csv'
df = pd.read_csv(path, names=columns)
df.dtypes

o_seq               int64
o_isin             object
o_d_i               int64
o_t_i              object
o_cha_id            int64
o_id_fd             int64
o_d_be              int64
o_t_be             object
o_m_be              int64
o_d_br              int64
o_t_br             object
o_m_br              int64
o_d_va              int64
o_t_va             object
o_m_va              int64
o_d_mo            float64
o_t_mo             object
o_m_mo            float64
o_d_en              int64
o_t_en             object
o_sq_nb             int64
o_sq_nbm            int64
o_d_p             float64
o_t_p              object
o_m_p             float64
o_state            object
o_currency         object
o_bs               object
o_type             object
o_execution       float64
o_validity          int64
o_d_expiration      int64
o_t_expiration     object
o_price           float64
o_price_sto p     float64
o_price_dfp g       int64
o_disoff            int64
o_q_ini             int64
o_q_min             int64
o_q_dis             int64
o_q_neg             int64
o_app               int64
o_origin           object
o_account           int64
o_nb_tr             int64
o_q_rem             int64
o_d_upd             int64
o_t_upd            object
o_member           object
dtype: object

In [20]:
output = '/Users/australien/Desktop/orders_improved.csv'
df.to_csv(output)
df.head()

,o_seq,o_isin,o_d_i,o_t_i,o_cha_id,o_id_fd,o_d_be,o_t_be,o_m_be,o_d_br,...,o_q_dis,o_q_neg,o_app,o_origin,o_account,o_nb_tr,o_q_rem,o_d_upd,o_t_upd,o_member
0,16705,FR0000062671,20170102,00:00:00,1,17566113170,20170102,07:15:04,74899,20170111,...,0,100,0,NaN,1,1,0,20170112,21:51:57,MIX
1,16706,FR0000062671,20170102,00:00:00,1,17566113171,20170102,07:15:04,273086,20170103,...,0,0,0,NaN,1,0,55,20170105,18:15:51,MIX
2,16707,FR0000062671,20170102,00:00:00,1,17566113172,20170102,07:15:04,501594,20170125,...,0,152,0,NaN,1,1,0,20170126,21:53:32,MIX
3,16708,FR0000062671,20170102,00:00:00,1,17566113173,20170102,07:15:10,249077,20170102,...,0,0,0,NaN,1,0,200,20170104,23:10:32,HFT
4,16709,FR0000062671,20170102,00:00:00,1,17566113174,20170102,07:15:10,249211,20170102,...,0,0,0,NaN,1,0,150,20170104,23:10:32,HFT

In [7]:
df.o_cha_id.max()

39

In [10]:
df[['o_sq_nb', 'o_sq_nbm']].value_counts()

o_sq_nb  o_sq_nbm
1        0           1
897      0           1
899      0           1
901      0           1
902      978         1
                    ..
472      0           1
473      0           1
474      475         1
475      477         1
1409     0           1
Length: 1040, dtype: int64

In [11]:
df.o_sq_nb.value_counts()

1       1
897     1
899     1
901     1
902     1
       ..
472     1
473     1
474     1
475     1
1409    1
Name: o_sq_nb, Length: 1040, dtype: int64

In [13]:
df.o_sq_nbm.value_counts()

0       661
831       1
876       1
866       1
868       1
       ...
527       1
591       1
590       1
610       1
1374      1
Name: o_sq_nbm, Length: 380, dtype: int64

In [141]:
# Import Built-Ins

# Import Third-Party
import pandas as pd
from pathlib import Path
import numpy as np

# Import Homebrew
#from utils.other_utils import check_empty_csv



def preprocess_events(path):
    """ Preprocessing of the event file.
    The function will transform the data into a usable database.
    The data is returned as a pandas database.

    Parameters
    ----------
    :param path : string
        Path of the csv order update file

    
    Returns
    -------
    value : pd.DataFrame
        New formatted order update file
    """

    columns = [
        'e_seq',
        'e_act_m_state',
        'e_d_upd',
        'e_d_me',
        'e_t_me',
        'e_d_suspension',
        'e_t_suspension',
        'e_ct_state',
        'e_value_state',
        'e_cd_gc',
        'e_t_op',
        'e_reservation',
        'e_isin',
        'e_cd_pc'
    ]

    dtypes = {
        'e_seq': 'int32',
        'e_act_m_state': 'category',
        'e_d_upd': 'object',
        'e_d_me': 'string',
        'e_t_me': 'string',
        'e_d_suspension': 'float',
        'e_t_suspension': 'float',
        'e_ct_state': 'float',
        'e_value_state': 'category',
        'e_cd_gc': 'category',
        'e_t_op': 'object',
        'e_reservation': 'category',
        'e_isin': 'category',
        'e_cd_pc': 'category'
    }

    df = pd.read_csv(path, names=columns, dtype=dtypes)


    # Time
    new_columns = ['e_dt_me']
    date_columns = ['e_d_me']
    time_columns = ['e_t_me']

    for i, col in enumerate(date_columns):
        # Mask for columns with NaNs
        na_mask = df[date_columns[i]].isnull()

        # Creating new time columns
        df.loc[~na_mask, new_columns[i]] = pd.to_datetime(df[date_columns[i]] + ' ' + df[time_columns[i]], format='%Y%m%d %H:%M:%S')

    # Update time
    df['e_d_upd'] = pd.to_datetime(df['e_d_upd'], format='%Y%m%d')
    

    # Programmed opening time
    na_mask = ((df['e_t_op'] == '0') | (df['e_t_op'] == 0))
    df.loc[na_mask, 'e_t_op'] = np.nan
    df.loc[~na_mask, 'e_t_op'] = pd.to_datetime(df['e_t_op'], format='%H:%M:%S').dt.time


    #Column drops
    df.drop(columns=[
        'e_d_suspension', 'e_t_suspension',
        'e_d_me', 'e_t_me',
        'e_ct_state', 
        'e_cd_pc'
        ], inplace=True)

    return df

In [142]:
import numpy as np
columns = [
        'e_seq',
        'e_act_m_state',
        'e_d_upd',
        'e_d_me',
        'e_t_me',
        'e_d_suspension',
        'e_t_suspension',
        'e_ct_state',
        'e_value_state',
        'e_cd_gc',
        'e_t_op',
        'e_reservation',
        'e_isin',
        'e_cd_pc'
    ]

dtypes = {
        'e_seq': 'int32',
        'e_act_m_state': 'category',
        'e_d_upd': 'object',
        'e_d_me': 'string',
        'e_t_me': 'string',
        'e_d_suspension': 'float',
        'e_t_suspension': 'float',
        'e_ct_state': 'float',
        'e_value_state': 'category',
        'e_cd_gc': 'category',
        'e_t_op': 'string',
        'e_reservation': 'category',
        'e_isin': 'category',
        'e_cd_pc': 'category'}


path = '/Volumes/Extreme ssd/raw/01/20170102/VHE_20170102.csv'
df = preprocess_events(path)
#df = pd.read_csv(path, names=columns, dtype=dtypes)

#df['e_d_upd'] = pd.to_datetime(df['e_d_upd'], format='%Y%m%d')

df

,e_seq,e_act_m_state,e_d_upd,e_value_state,e_cd_gc,e_t_op,e_reservation,e_isin,e_dt_me
0,5632,N,2017-01-03,AS,EA,NaN,NaN,BE0974267966,2017-01-02 04:06:40
1,42677,N,2017-01-03,AS,10,NaN,NaN,CA38055V2049,2017-01-02 04:06:40
2,49502,R,2017-01-03,AS,19,NaN,A,CA8584971003,2017-01-02 15:00:00
3,49503,NaN,2017-01-03,A,19,NaN,NaN,CA8584971003,2017-01-02 17:46:50
4,23944,N,2017-01-03,AS,10,NaN,NaN,CH0044947239,2017-01-02 04:06:40
...,...,...,...,...,...,...,...,...,...
321824,57007,O,2017-01-03,A,HG,NaN,NaN,XS1293116577,2017-01-02 09:09:30
321825,75292,N,2017-01-03,IS,2E,NaN,NaN,XS1317057278,2017-01-02 04:06:22
321826,34334,R,2017-01-03,AS,GM,NaN,A,XS1338573543,2017-01-02 09:05:00
321827,34335,NaN,2017-01-03,A,GM,NaN,NaN,XS1338573543,2017-01-02 17:30:23
321828,93528,N,2017-01-03,IS,4Z,NaN,NaN,XS1422238136,2017-01-02 04:06:22

In [123]:
df.dtypes

e_seq                     int32
e_act_m_state          category
e_d_upd          datetime64[ns]
e_value_state          category
e_cd_gc                category
e_t_op                   object
e_reservation          category
e_isin                 category
dtype: object

In [140]:
mask = df['e_t_op'].isnull()
df[~mask].iloc[1].e_t_op

datetime.time(10, 18, 53)

In [113]:
df.e_t_op.value_counts()

10:24:00    1
10:18:53    1
16:23:49    1
16:25:19    1
16:17:19    1
16:19:19    1
16:24:49    1
16:25:49    1
16:22:49    1
16:19:49    1
16:16:19    1
16:20:49    1
16:20:19    1
16:17:49    1
16:18:19    1
16:26:49    1
16:22:19    1
16:21:19    1
16:16:49    1
16:21:49    1
16:26:19    1
16:23:19    1
16:57:00    1
16:18:49    1
10:19:23    1
16:24:19    1
Name: e_t_op, dtype: int64

In [84]:
na_mask = (df['e_t_op'] == '0')
df_copy = df.loc[~na_mask, 'e_t_op'].copy()
df_copy = pd.to_datetime(df_copy).dt.time
df_copy

110454    10:24:00
110457    10:18:53
110458    10:19:23
110471    16:18:49
110473    16:57:00
110474    16:23:19
110475    16:26:19
110476    16:21:49
110478    16:16:49
110479    16:21:19
110487    16:22:19
110490    16:26:49
110495    16:18:19
110496    16:17:49
110498    16:20:19
110499    16:20:49
110500    16:16:19
110501    16:19:49
110504    16:22:49
110505    16:25:49
110506    16:24:49
110507    16:19:19
110510    16:17:19
110511    16:25:19
110512    16:23:49
110515    16:24:19
Name: e_t_op, dtype: object